@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');

:root {
    --primary: #fe2c55;
}
* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

heading {
}

body {
    font-family: 'TikTok Sans', sans-serif;
    font-size: 1.6rem;
    min-height: 100vh;
    text-rendering: optimizespeed;
    line-height: 1.5;
}
